.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0.4rem 0.4rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .05);
    position: fixed;
    width: 100%;
    z-index:1;
    background-color: #fff;
}

.navbar_menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    top: 3.35rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    list-style-type: none;

}

.navbar_menu.active {
    left: 0;
}

.hamburger_container {
    display: block;
    cursor: pointer;
    padding-right: 0.4rem;

}
.logo_image{
    margin-left: 0rem;
}

.hamburger_container.active .hamburger_bar:nth-child(2) {
    opacity: 0;
}

.hamburger_container.active .hamburger_bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger_container.active .hamburger_bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger_bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navbar_item {
    padding-right: 2.5rem;
    margin: 1rem 0;

}

.navbar_link {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.navbar_link:hover,
.navbar_link:active {
    color: var(--lightPurple);
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .hamburger_container {
        display: none;
    }
    
    .hamburger_bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    
    .navbar_menu {
        display: flex;
        justify-content:  flex-end;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        position: unset;
        right: -100%;
        top: 5rem;
        flex-direction: row;
        width: 100%;
        top: 3.35rem;
        border-radius: 0px;
        text-align: center;
        box-shadow:none;
    }
    .logo_image{
        margin-left:1.5rem;
    }
    
    .navbar_item {
        padding-right: 2.5rem;
    }
   
    .navbar_link {
        font-size: 1rem;
        font-weight: 400;
        color: black;
        text-decoration: none;
    }

}
